
#storyboard{
	width: 1600px;
	height: 1180px;
	background-image: url('bracket.jpg');
	z-index: -1;
}

input{
	position:absolute;
	z-index: 1;
	width: 105px
}

#m1{
	top: 205px;
	left: 175px;
}